<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<p>
Erstelle ein neues Spiel und teile den Link mit deinem Spielgegner.
</p>

<form>
    <p>
    <label for="title">Spielnamen (frei wählbar):</label>
    <input type="text" id="gameid" required>
    </p>
    <button>Abschicken</button>
</form>


<%- include('./partials/tail.ejs') %>