<%- include('./partials/head.ejs') %>

<%- include('./partials/nav.ejs') %>

<h3>Join a game</h3>
<form action="/game" method="get">
    <label for="title">ID:</label>
    <input type="text" id="gameid" name="id" required>
    </p>
    <button>Submit</button>
</form>


<h3>Create a new game</h3>
<form action="/create" method="post">
    <p>
    <label for="title">ID:</label>
    <input type="text" id="gameid" name="gameid" required>
    </p>
    <p>
        (Small characters and numbers are allowed)
    </p>
    <button>Submit</button>
</form>


<%- include('./partials/tail.ejs') %>