html {
    max-width: 70ch;
    padding: 1em 1em;
    margin: auto;
    line-height: 1.25;
    font-size: 1em;
}
table, th, td {
    padding: 10px;
}

img {
  border: 5px solid #b5b2b2;
}

img:hover {
  border-color: rgb(208, 11, 208);
}

button.gameButtonClass {width:50px;height:50px;}